.common{
    
    
    position: absolute;

}

body{
   
font-family: sans-serif
;
}

.header{
    top:5px;
    left:5px;
    right:5px;
    height:100px;
z-index: 2;
border-bottom: solid 1px black;
}

.leftmenu{
    top:112px;
    left:5px;
    width: 100px;
    bottom: 64px;
z-index: 1;
padding-top: 40px;
border-right: 2px solid black;
}

.mainbody{
    top: 114px;
    bottom: 64px;
    left: 114px;
    right: 114px;
padding-top: 20px;
}

.rightmenu {
top: 114px;
bottom: 64px;
right: 5px;
width: 100px;
border-left: solid 2px black;
padding-left: 2px;
}

.footer{

bottom: 5px;
height: 20px;
right: 5px;
left: 5px;
color: grey;
font-size: 8px;
position: fixed;
text-align: center;
}

.subheader{
    float: right;
    border: 2px;
}